{% extends "myapp/base.html" %}

{% block content %}
  <h2>User List</h2>
  <ul>
    {% for user in users %}
      <li>
        <img src="../static/myapp/img/people-24px.svg" alt="{{ user.username }}" width="50">
        {{ user.username }} - {{ user.email }}
        {% if user.id in friend_id %}
          <span>既にフレンドです</span>
            {% for friend in friends %}
              {% if friend.friend.id == user.id %}
                <span>{{ friend.created_at }}</span>
              {% endif %}
            {% endfor %}  
        {% else %}
          {% if user.id in receiver_id %}
            <span>フレンド申請済み</span>
          {% else %}
            <form method="post" action="{% url 'send_friend_request' user.id %}">
              {% csrf_token %}
              <button type="submit">Send Friend Request</button>
            </form>
          {% endif %}
        {% endif %}
      </li>
    {% empty %}
    <div class="empty-container">
      <p class="empty">
        このアプリに他のユーザーはいません。
      </p>
    </div>
    {% endfor %}
  </ul>
{% endblock %}